<!-- Aqui esta el HTML de inicio para la plantilla -->
<div>
  <h1>Felicitaciones!</h1>
  <h4>Has conseguido que tu componente se muestre!</h4>
  <hr>
  <h5>Como se ve el evento?</h5>
  <div style="margin-top:30px"> Evento: {{evento.name}}</div>
  <div> Fecha: {{evento.date}} </div>
  <div> Hora: {{evento.time}} </div>
  <div>
    Direccion:{{evento.location.adress}} </div>
</div>